.header {
    display: flex;
    flex-direction: row;
}

.header-content {
    flex: 1;
    display: flex;
    margin-left: 5.5rem;
    padding-top: 3rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 6rem;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    color: white;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.header-content p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: white;
    margin-top: 1.5rem;
}

.header-content-input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.header-content-input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-content-input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1050px) {
    .header {
        flex-direction: column;
    }
    .header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .header p {
        font-size: 16px;
        line-height: 24px;
    }
    .header-content-input input,
    .header-content-input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .header p {
        font-size: 14px;
        line-height: 24px;
    }
    .header-content-input input,
    .header-content-input button {
        font-size: 12px;
        line-height: 16px;
    }
}